* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --text-color: #5a6473;
    --text-dark: #000339;
    --bg-light: #f5fafe;
    --border-radius: 1.2rem;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =========== Header =========== */
.fix-header {
    position: sticky;
    top: -26px;
    padding-top: 26px;
    z-index: 1;
    background: #e6f0ff;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: calc(100vh - 90px);
    background: #e6f0ff;
}

/* Navigation */
.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 13px 16px;
    border-radius: 8px;
    margin-left: 18px;
}

/* Hero */
.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.018em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.1875;
}

.hero .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77778;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* =========== Clients =========== */
.client {
    margin-top: 79px;
    padding: 43px 0 64px ;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
    color: #7d8589;
}

.client .row-desc {
    margin-top: 23px;
}

.client .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.client .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;

}

.client .images a:hover {
    border-radius: 1.2rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
}

/* =========== Guides =========== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
}

.guides .desc {
    width: 45.9rem;
    max-width: 100%;
    margin: 20px auto 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #5a6473;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    font-size: 2rem;
    margin-top: 26px;
    font-weight: 500;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* =========== Feature 1 =========== */
.feature {
    margin-top: 41px;
    padding: 110px 0;
    background: var(--bg-light);
}

.feature .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    color: var(--text-dark);
}

.feature .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.feature .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #5a6473;
}

.feature .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.feature .link .arrow {
    position: relative;
    top: -1px;
    left: 4px;
}

.feature .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.feature .list .item {
    flex: 1;
}

.feature .list .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.feature .item .body {
    padding: 19px 20px 24px;
    background: #fff;
    border-radius: 0 0 12px 12px;
    margin-top: -2px;
}

.feature .item .title a {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #000339;
}

.feature .item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
    color: #a3a6ab;
}

.feature .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.feature .info .label {
    margin-left: 8px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.014em;
    word-break: normal;
    white-space: nowrap;
    color: #4d4d52;
}

.feature .info .icon {
    margin-left: 23px;
}

.feature .info .icon:first-child {
    margin-left: 0;
}

/* =========== Stats =========== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block, .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28571; /* 128.571% */
    color: #000339;
}

.stats .info .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    color: #5A6473;
}

.stats .img-block .value {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.026rem;
    color: #000339;
}

.stats .value span {
    font-weight: 500;
}

.stats .img-block .desc {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    color: #A7A7A7;
}

.stats .img-block .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 23.2px 40.5px 20px;
    border-radius: 0 0 1.2rem 1.2rem;
    box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats .stats-trend .separate {
    height: 0.12rem;
    margin-top: 25.5px;
    background: #E9E9E9;
}

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
}

.stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    padding: 0 32px;
}

.stats .qty-item {
    margin-top: 110px;
    margin-right: 220px;
    text-align: center;
}

.stats .qty-item:last-child {
    margin-right: 0;
}

.stats .qty {
    font-size: 6.4rem;
    font-weight: 600;
    color: #000;
}

.stats .qty-desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #7B8087;
}

/* =========== Subscription =========== */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 2rem;
    background: #063183;
}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px
}

.subscription .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #FFF;
}

.subscription .desc {
    margin-top: 15px;
    opacity: 0.75;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    color: #FFF;
}

.subscription .btn {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    width: 15.1rem;
    color: #002366;
    background: #fff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* =========== Footer =========== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #1C1C1D;
}

.footer .list, .desc {
    margin-top: 42px;
}

.footer .list .item {
    margin-top: 18px;
}

.footer .list .item a {
    font-size: 1.6rem;
    font-weight: 400;
    color: #7A7A7E;
    white-space: nowrap;
}

.footer .column .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    color: #7A7A7E;
}

.footer .column .social-icon {
    margin-top: 40px;
}

.footer .row-bottom {
    margin-top: 81px;
    justify-content: space-between;
    align-items: center;
}

.footer .row-bottom .copyright {
    font-size: 1.4rem;
    font-weight: 400;
    color: #C2C2C2;
}